.List {
    color: #33755c;
    font-size: 20px;
    text-align: left;
}

.List li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0;
}

.List button {
    margin: 0 10px;
    font-weight: bold;
    color: #275370;
    background: inherit;
    border: 1px solid #275370; ;
    border-radius: 2px;
}